<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xie.java.dao.TestMapper">

    <resultMap id="BaseResultMap" type="com.xie.java.entity.TestBean">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="second_name" property="secondName"/>
    </resultMap>
    <select id="getNameById" resultType="TestBean">
		SELECT * FROM  tb1 WHERE id=#{id}
	</select>

    <select id="selectTestBeans" resultMap="BaseResultMap">
		SELECT * FROM tb1 WHERE status=#{status}
	</select>

</mapper>
